@import "../styles/variables";

//TITRES
%h1-mobile {
  font-family: $title-font;
  color: $title-color;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 2rem;
  line-height: 1.3;
}

%h1-tablet {
  font-family: $title-font;
  color: $title-color;
  font-weight: bold;
  margin-bottom: 2rem;
  line-height: 1.3;
}

%h1-desktop {
  font-family: $title-font;
  color: $title-color;
  font-weight: bold;
  margin-bottom: 2rem;
  line-height: 1.3;
}

%h2-mobile {
  font-family: $title-font;
  color: $title-color;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  line-height: 1.3;
}

%h3-mobile {
  font-family: $title-font;
  font-size: 1.85rem;
  font-weight: bold;
  margin-bottom: 2rem;
  line-height: 1.3;
}

%h3-tablet {
  font-family: $title-font;
  font-weight: bold;
  margin-bottom: 2rem;
  line-height: 1.3;
}

%h3-desktop {
  font-family: $title-font;
  font-weight: bold;
  margin-bottom: 2rem;
  line-height: 1.3;
}

//TEXT BODY
%text-mobile {
  font-family: $text-font;
  color: $text-color;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

%text-tablet {
  font-family: $text-font;
  color: $text-color;
  margin-bottom: 1rem;
  line-height: 1.5;
}

%text-desktop {
  font-family: $text-font;
  color: $text-color;
  margin-bottom: 1rem;
  line-height: 1.5;
}

%quote-mobile {
  font-family: $quote-font;
  color: $text-color;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: bold;
}

%quote-tablet {
  font-family: $quote-font;
  color: $text-color;
  line-height: 1.5;
  font-weight: bold;
}

%quote-desktop {
  font-family: $quote-font;
  color: $text-color;
  line-height: 1.5;
  font-weight: bold;
}

//DATE
%date-mobile {
  font-family: $text-font;
  color: $text-color;
  font-size: 1.2rem;
}

%date-tablet {
  font-family: $text-font;
  color: $text-color;
}

%date-desktop {
  font-family: $text-font;
  color: $text-color;
}
