@import "../styles/variables";

//TITRES
@mixin h1-mobile {
  font-size: 2.4rem;
}

@mixin h1-tablet {
  font-size: 3.2rem;
}

@mixin h1-desktop {
  font-size: 4rem;
}

@mixin h3-mobile {
  font-size: 2rem;
}

@mixin h3-tablet {
  font-size: 2.4rem;
}

@mixin h3-desktop {
  font-size: 3.2rem;
}

//TEXT BODY
@mixin text-mobile {
  font-size: 1.6rem;
}

@mixin text-tablet {
  font-size: 1.8rem;
}

@mixin text-desktop {
  font-size: 2rem;
}

@mixin quote-mobile {
  font-size: 1.3rem;
}

@mixin quote-tablet {
  font-size: 1.5rem;
}

@mixin quote-desktop {
  font-size: 1.9rem;
}

//DATE
@mixin date-mobile {
  font-size: 1.2rem;
}

@mixin date-tablet {
  font-size: 1.4rem;
}

@mixin date-desktop {
  font-size: 1.6rem;
}
