@import "../styles/variables";

//TITRES
/*H1*/
@mixin h1-mobile {
  font-size: 2.4rem;
}

@mixin h1-tablet {
  font-size: 3.2rem;
}

@mixin h1-desktop {
  font-size: 4rem;
}

@mixin h1-desktop-l {
  font-size: 5.8rem;
}

/*H2*/
@mixin h2-mobile {
  font-size: 2.2rem;
}

@mixin h2-tablet {
  font-size: 2.4rem;
}

@mixin h2-desktop {
  font-size: 3.2rem;
}

@mixin h2-desktop-l {
  font-size: 4.8rem;
}

/*H3*/
@mixin h3-mobile {
  font-size: 1.85rem;
}

@mixin h3-tablet {
  font-size: 2rem;
}

@mixin h3-desktop {
  font-size: 2.5rem;
}

@mixin h3-desktop-l {
  font-size: 3rem;
}

//TEXT BODY
@mixin text-mobile {
  font-size: 1.6rem;
}

@mixin text-tablet {
  font-size: 1.8rem;
}

@mixin text-desktop {
  font-size: 2rem;
}

@mixin text-desktop-l {
  font-size: 2.5rem;
}

@mixin quote-mobile {
  font-size: 1.3rem;
}

@mixin quote-tablet {
  font-size: 1.5rem;
}

@mixin quote-desktop {
  font-size: 1.9rem;
}

@mixin quote-desktop-l {
  font-size: 2.4rem;
}

//DATE
@mixin date-mobile {
  font-size: 1.2rem;
}

@mixin date-tablet {
  font-size: 1.4rem;
}

@mixin date-desktop {
  font-size: 1.6rem;
}

@mixin date-desktop-l {
  font-size: 2.1rem;
}